[submodule "TFG-doc"]
	path = TFG-doc
	url = https://github.com/mihaiblidaru/TFG-doc.git
[submodule "netconf-extended"]
	path = netconf-extended
	url = https://github.com/mihaiblidaru/netconf-extended
