{% extends 'base.html' %}
{% load static %}

{% block title %}
    Hosts
{% endblock %}

{% block content %}

    <div class="container-fluid main_content mb-5">
        <div class="row">
            <div class="col-xs-6 col-md-12 col-lg-12 mb-3">
                <div class="m-2">
                    <h3 class="d-inline ml-3">Hosts</h3>
                    <div class="float-right">
                        <a class="btn btn-primary" href="{% url 'open_session' %}" role="button"><i class="mr-2 fa fa-plus-square"></i>Open Session</a>
                    </div>
                </div>
                {% if hosts %}
                    <ul class="list-group">
                        {% for host in hosts %}
                            <li class="wrapword list-group-item">
                                <div class="d-inline align-middle">
                        <span class="font-weight-bold">
                                <a href="{% url 'show_host' host.session_id%}"> SessionID {{ host.session_id }}</a> -
                        </span>
                                    {{ host.host }}:{{ host.port }} - 5 subscriptions
                                </div>
                                <div class="float-right">
                                    <a class="btn btn-primary" href="{% url 'add_subscription' host.session_id %}"
                                       role="button">add</a>
                                </div>
                                <div class="float-right">
                                    <a class="btn btn-primary" href="{% url 'show_host' host.session_id %}"
                                       role="button">Edit</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        <span class="h5">{{ error }}</span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}


